.container {
    max-width: 900px;
    padding: 20px;
    margin: 0 auto;
}

.container__list {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

