.form {
    background-color: #ffffff;
    padding: 15px;
    font-size: 15px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-gap: 20px;
}

@media (max-width:767px) {
    .form {
          grid-template-columns: 1fr;
          grid-template-rows: auto;
    }
    
}

.form__button {
    background-color: teal;
    color: #ffffff;
    border: none;
    padding: 10px;
}

.form__button:active {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.form__field {
    border: solid 1px hsl(0, 0%, 80%);
    padding: 10px;
    height: 25px;
    font-size: 15px;
}