.section {
    margin: 10px 0;
    background: white;
    box-shadow: 0 0 5px #ddd;
}

.section__header {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1 px solid #ddd;
    margin: 10px 0;
    background: white;
    box-shadow: 0 0 5px #ddd;
}

@media (width: 767px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}


.section__body {
    padding: 20px;
}

.section__button {
    border: none;
    color: hsl(180, 100%, 25%);
    background-color: transparent;
    transition: 0.3s;
    cursor: pointer;
}

.section__button:hover {
    color: hsl(180, 100%, 30%);
}

.section__button:disabled {
    color: #b3b3b3;
}

