.section {
background-color: #ddd;
overflow-x: auto;
max-width: 1000px;
padding: 10px;
}

.section__header {
    background-color: #ffffff;
    max-width: 100%;
    padding: 10px;
}

.section__title {
    background-color: #ffffff;
    max-width: 100%;
    padding: 10px;
}