.task {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.task__content {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #EEEDEF;
}

.task__content--hidden {
    display: none;
}

.task__done {
    text-decoration: line-through;
}

.task__added {
    flex-grow: 1;
    text-align: left;
    word-break: break-word;
    padding-left: 5px;
}

.task__button {
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    padding: 0px;
    transition: 0.7s;
    cursor: pointer;
}

.task__button--toggleDone {
    background: hsl(122, 65%, 29%);
}

.task__button--toggleDone:hover {
    background: hsl(122, 65%, 35%);
}

.task__button--toggleDone:active {
    background: hsl(122, 65%, 40%);
}

.task__button--remove {
    background: hsl(354, 84%, 54%);
}

.task__button--remove:hover {
    background: hsl(354, 84%, 60%);
}

.task__button--remove:active {
    background: hsl(354, 84%, 65%);
}

