.task {
    max-width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
}

.task__list {
    list-style: none;
    background: white;
    margin-bottom: 10px
}

.task__content {
    background: white;
    padding: 10px;
    border-bottom: 2px solid #EEEDEF;
    display: grid;
    grid-template-columns: 55px 3fr 0fr;;
}

.task__done {
    text-decoration: line-through;
}

.task__added {
    flex-grow: 1;
    text-align: left;
    word-break: break-word;
    padding-left: 5px;
}

.task__button {
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    margin: 10px;
    padding: 0px;
}

.task__button--done {
    background: #1a7b1e;
}

.task__button--done:active {
    border-width: 1px; 
    border-style: solid; 
    border-color: rgb(0, 0, 0);
}

.task__button--remove {
    background: #ec283c;
}
.task__button--remove:active {
    border-width: 1px; 
    border-style: solid; 
    border-color: rgb(0, 0, 0);
}

